/* Color */

:root {
    --color-primary: #181F15;
    --color-secondary: #2D592C;
    --color-background: #E8F1E8;
}

[scheme="dark"] {
    --color-primary: #E8F1E8;
    --color-secondary: #7AA67A;
    --color-background: #1D1F1D;
}

::selection {
    background-color: #54F698;
}

[scheme="dark"]::selection {
    background: #6FCF97;
}

/* Fade In at Start */

@keyframes fadeIn {
    from { opacity: 0.0; }
    to { opacity: 1.0; }
}

.containers {
    animation: 0.25s ease 0.2s 1 forwards fadeIn;
    opacity: 0.0;
}

/* Click Animation */

@keyframes click {
    0% { opacity: 1.0; }
    70% { opacity: 1.0; }
    100% { opacity: 0.0; }
}

/* Style */

body {
    padding: 72px;
    background: var(--color-background);
    margin: 0 auto;
    max-width: 1920px;
}

.container-title {
    position: fixed;
    width: 500px;
    max-width: calc(95vw - 144px);
}

.name {
    cursor: help;
}

.container-actions {
    position:fixed;
    top: 72px;
    right: 72px;
}

.action-click {
    position: fixed;
    opacity: 0.0;
    pointer-events: none;
}

.action {
    padding: 10px;
    transform: translate(10px, -10px);
}

.action:hover {
    cursor: pointer;
}

.container-content {
    padding-top: 25vh;
    padding-bottom: calc(25vh + 60px);
    width: 620px;
    max-width: 100%;
    margin: 0 auto;
}

.content-preview {
    position: fixed;
    width: 400px;
    height: 200px;
    z-index: 100;
    background-color: white;
    visibility: hidden;
    background-size: cover;
    background-position: center;
}

.content-page {
    position: relative;
    margin-top: 60px;
    transition: transform 0.2s ease;
    z-index: 0;
}

.content-page:hover {
    transform: translateY(-5px);
    opacity: 1.0;
    z-index: 200;
    cursor: alias;
}

.content-page-unfocused {
    transition: opacity 0.2s ease;
    opacity: 0.25;
}

.container-footer {
    position: sticky;
    bottom: 72px;
    opacity: 0.0;
    will-change: transform;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-item:nth-child(n+2) {
    margin-left: 30px;
}

.container-disabled {
    pointer-events: none;
    cursor: default;
}

/* Type */

h1, p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: 'SangBleu Sunrise', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 26px;
    line-height: 38px;
    color: var(--color-primary);
}

p {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 185%;
    color: var(--color-secondary);
    opacity: 0.8;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.footer-link-primary {
    text-decoration: underline;
}

/* Responsive Adjustment */

@media screen and (max-width: 480px) {
    body {
        padding: 36px;
    }

    h1 {
        font-size: 20px;
        line-height: 32px;
    }

    p {
        font-size: 14px;
    }

    .container-title {
        max-width: calc(95vw - 72px);
    }

    .container-content {
        padding-top: 35vh;
    }

    .content-page {
        margin-top: 45px;
    }
}

/* Fonts */

@import url('https://rsms.me/inter/inter.css');

@font-face {
    font-family: 'SangBleu Sunrise';
    font-style: normal;
    font-weight: 400;
    src: local("SangBleu Sunrise"), local("SangBleuSunrise"), url("../fonts/SangBleuSunrise-Regular-WebTrial.woff2") format("woff2"), url("../fonts/SangBleuSunrise-Regular-WebTrial.woff") format("woff");
}
